* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #009688;
    height: 97vh;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagina{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 97vh;
    max-width: 500px;
    width: 100%;
}

header {
    background-color: #009688;
    color: white;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    text-align: center;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #009688;
    box-sizing: border-box;
}

#campo-principal {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#campo-quantidade {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    max-width: 190px;
}

#tamanho-palavra {
    width: 155px;
    text-align: center;
}

#valores-indicados {
    width: 100%;
    max-width: 160px;
    display: flex;
    justify-content: space-between;
}

.sugestao {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
}

.sugestao:hover {
    transform: scale(1.2);
    border: 1px solid #c2e9ff;
    background-color: #002420;
    color: #c2e9ff;
}

#botoes {
    display: flex;
    justify-content: center;
}

#bloco-letras {
    align-items: center;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    background-color: white;
}

#quantidade-letras {
    width: 154px;
    text-align: center;
}

#letras-opcoes {
    color: white;
    background-color: #009688;
    box-sizing: border-box;
    border-radius: 30px;
}

#prox-e-volt-letras {
    display: flex;
    justify-content: center;
}

#voltar-letras {
}

#gerar-personalizada1 {
    display: none;
}

#bloco-numeros {
    display: none;
    align-items: center;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    background-color: white;
}

#quantidade-numeros {
    width: 154px;
    text-align: center;
}

#numeros-opcoes {
    color: white;
    background-color: #009688;
    box-sizing: border-box;
    border-radius: 30px;
}

#prox-e-volt-num {
    display: flex;
    justify-content: center;
}

#voltar-numeros {
}

#gerar-personalizada2 {
    display: none;
}

#bloco-especiais {
    display: none;
    align-items: center;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    background-color: white;
}

#quantidade-especiais {
    width: 154px;
    text-align: center;
}

#especiais-opcoes {
    color: white;
    background-color: #009688;
    box-sizing: border-box;
    border-radius: 30px;
}

#prox-e-volt-esp {
    display: flex;
    justify-content: center;
}

#voltar-especiais {
}

#gerar-personalizada3 {
}

#vejaSuaSenha {
    display: flex;
    justify-content: center;
    background-color: #009688;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.olho {
    background-color: white;
    max-width: 21px;
    border-radius: 0 5px 5px 0;
}

#senha {
    text-align: center;
    background-color: white;
    max-width: 200px;
    width: 100%;
    border-radius: 5px 0 0 5px;
}

#olho-aberto {
    position: relative;
    top: 3px;
}

#asteriscos {
    display: none;
    text-align: center;
    background-color: white;
    max-width: 200px;
    width: 100%;
    border-radius: 5px 0 0 5px;
}

#olho-fechado {
    display: none;
    position: relative;
    top: 4px;
}

#maisOpcoes {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    background-color: #009688;
    box-sizing: border-box;
}

#bloco-contatos {
    display: none;
    max-width: 500px;
    width: 100%;
}

#contatos {
    color: rgb(0, 0, 0);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 2px solid #c2e9ff;
}

#msg-compartilhar {
    display: flex;
    justify-content: space-between;
}

#logos {
    display: flex;
    justify-content: space-around;
}

footer {
    box-sizing: border-box;
    text-align: right;
    background-color: white;
    border: 2px solid #009688;
    max-width: 500px;
    width: 100%;
}

#creditos {
    display: none;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid #009688;
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
}

#boneco {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    background-color: #009688;
    max-width: 500px;
    height: 200px;
    width: 100%;
}

#copiar {
    cursor: pointer;
    transition: transform 0.2s;
}

#copiar:hover {
    transform: scale(1.1);
}

#compartilhar {
    cursor: pointer;
    transition: transform 0.2s;
}

#compartilhar:hover {
    transform: scale(1.150);
}

#info {
    cursor: pointer;
    transition: transform 0.2s;
}

#info:hover {
    transform: scale(1.150);
}

#fechar-compartilhamento:hover {
    transform: scale(1.150);
    cursor: pointer;
}
