* {
    margin: 0;
    padding: 0;
}

.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
body {
    height: 100vh;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagina{
    filter: blur(5px);
    max-width: 500px;
    width: 100%;
}
header{
    font-size: 25px;
    margin: auto;
    background-color: #009688;
    color: white;
    width: 100%;
    max-width: 500px;
    padding: 3px;
    box-sizing: border-box;
    text-align: center;
}
main{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    background-color: #009688;
    box-sizing: border-box;
}
/* CAMPO PRINCIPAL */
#campo-principal{
    align-items: center;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: white;
}
#campo-quantidade{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    max-width: 190px;
}
#tamanho-palavra{
    width: 155px;
    text-align: center;
}
#valores-indicados{
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: space-between;
}
.sugestao{
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius:50% ;
    padding: 4px;
}
.sugestao:hover {
    transform: scale(1.2);
    border: 1px solid #c2e9ff;
    background-color: #002420;
    color: #c2e9ff;
    cursor: pointer;
}
#botoes{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#botao1{
    padding: 7px;
    transition: ease transform 0.2s;
}
#botao1:hover{
    transform: scale(1.1);
}
#botao2{
    padding: 7px;
    transition: ease transform 0.2s;
}
#botao2:hover{
    transform: scale(1.1);
}
/* .............. */

/* CAMPO LETRAS */
#bloco-letras{
    align-items: center;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: white;
}
#quantidade-letras{
    width: 154px;
    text-align: center;
}
#letras-opcoes{
    color: white;
    background-color: #009688;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
}
#prox-e-volt-letras{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#voltar-letras{
    padding: 7px;
    transition: ease transform 0.2s;

}
#voltar-letras:hover{
    transform: scale(1.1);
}
#avancar-letras{
    padding: 7px;
    transition: ease transform 0.2s;

}
#avancar-letras:hover{
    transform: scale(1.1);
}
#gerar-personalizada1{
    display: none;
    padding: 7px;
    transition: ease transform 0.2s;

}
#gerar-personalizada1:hover{
    transform: scale(1.1);
}
/* .............. */

/* CAMPO NUMEROS */

#bloco-numeros{
    display: none;
    align-items: center;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: white;
}
#quantidade-numeros{
    width: 154px;
    text-align: center;
}
#numeros-opcoes{
    color: white;
    background-color: #009688;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
}
#prox-e-volt-num{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#voltar-numeros{
    padding: 7px;
    transition: ease transform 0.2s;
}
#voltar-numeros:hover{
    transform: scale(1.1);
}
#avancar-numeros{
    padding: 7px;
    transition: ease transform 0.2s;
}
#avancar-numeros:hover{
    transform: scale(1.1);
}
#gerar-personalizada2{
    display: none;
    padding: 10px;
    transition: ease transform 0.2s;
}
#gerar-personalizada2:hover{
    transform: scale(1.1);
}
/* .............. */

/* CAMPO NUMEROS */

#bloco-especiais{
    display: none;
    align-items: center;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: white;
}
#quantidade-especiais{
    width: 154px;
    text-align: center;
}
#especiais-opcoes{
    color: white;
    background-color: #009688;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
}
#prox-e-volt-esp{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#voltar-especiais{
    padding: 7px;
    transition: ease transform 0.2s;
}
#voltar-especiais:hover{
    transform: scale(1.1);
}
#avancar-especiais{
    padding: 7px;
    transition: ease transform 0.2s;
}
#avancar-especiais:hover{
    transform: scale(1.1);
}
#gerar-personalizada3{
    padding:7px;
    transition: ease transform 0.2s;
}
#gerar-personalizada3:hover{
    transform: scale(1.1);
}
/* .............. */

/* Exibição de senha */

#vejaSuaSenha{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #009688;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    box-sizing: border-box;
}
.olho{
    background-color: white;
    max-width: 21px;
    border-radius: 0 5px 5px 0;
}

#senha{
    text-align: center;
    background-color: white;
    padding: 5px;
    max-width: 200px;
    width: 100%;
    border-radius: 5px 0 0 5px ;
    word-wrap: break-word;
}
#olho-aberto{
    position: relative;
    top: 3px;
}
#asteriscos{
    display: none;
    text-align: center;
    background-color: white;
    padding: 5px;
    max-width: 200px;
    width: 100%;
    border-radius: 5px 0 0 5px ;
    word-wrap: break-word;
}
#olho-fechado{
    display: none;
    position: relative;
    top: 4px;
}

#maisOpcoes{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    background-color: #009688;
}
#bloco-contatos {
    display: none;
    margin: auto;
    max-width: 500px;
    width: 100%;
}

#contatos {
    margin: auto;
    color: rgb(0, 0, 0);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 2px solid #c2e9ff;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

#msg-compartilhar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
#sair-compartilhamento{
    text-align: right;
}
#logos{
    display: flex;
    justify-content: space-around;
}
footer{
    padding: 3px;
    box-sizing: border-box;
    text-align: right;
    margin: auto;
    background-color: white;
    border: 2px solid #009688;
    max-width: 500px;
    width: 100%;
}
#creditos{
    display: none;
    box-sizing: border-box;
    padding: 3px;
    background-color: white;
    border: 2px solid #009688;
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
}
#boneco{
    display: flex;
    align-items: flex-end;
    padding-left: 17px;
    box-sizing: border-box;
    margin: auto;
    background-color: #009688;
    max-width: 500px;
    height: 200px;
    width: 100%;
}


#copiar{
    cursor: pointer;
    transition: transform 0.2s;
}
#copiar:hover{
    transform: scale(1.1);
}
#compartilhar{
    cursor: pointer;
    transition: transform 0.2s;
}
#compartilhar:hover{
    transform: scale(1.150);
}
#info{
    cursor: pointer;
    transition: transform 0.2s;
}
#info:hover{
    transform: scale(1.150);
}
#fechar-compartilhamento:hover{
    transform: scale(1.150);
    cursor: pointer;
}

#aviso{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 85%;
    z-index: 1;
    position: absolute;
    background-color: rgb(51, 51, 51);
    width: 100vw;
    height: 100vh;
}

#acessoaosite{
    line-height: 1.5;
    text-align: justify;
    border: 2px solid black;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    max-width: 300px;
    color: #000000;
}
#acessar{
    font-weight: bolder;
    cursor: pointer;
    margin: auto;
    border-radius: 30px;
    padding: 2px;
    width: 76px;
    display: block;
    background-color: rgb(0, 183, 0);
    transition: transform ease 0.3s;
}
#acessar:hover{
    transform: scale(1.050);
}

#reiniciar{
    padding:0px 0 10px 0;
    background-color: #009688;
}

#limpar{
    cursor: pointer;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: auto;
    padding: 3px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 88px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    transition: transform ease 0.3s;
}
#limpar:hover{
transform: scale(1.1);
}
