* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial;
}
header {
    color: white;
    background-color: #009688;
    margin: auto;
    padding: 10px 5px;
    text-align: center;
    font-weight: bolder;
    max-width: 500px;
    border: 1px solid black;
    border-bottom: 0;
}
main {
    margin: auto;
    padding: 5px;
    max-width: 500px;
    height: 492px;
    background-color: #009688;
    border: 1px solid black;
    border-top: 0;
}
#campo-principal {
    height: 235px;
    background-color: white;
}
#campo-quantidade {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0 auto 15px;
    max-width: 220px;
    padding-top: 30px;
    box-sizing: border-box;
    font-size: 16px;
}
#tamanho-palavra {
    width: 190px;
    height: 20px;
    text-align: center;
    display: inline-block;
}
#botaoSair{
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 5px;
    transition: transform 0.2s;
}
#botaoSair:hover{
    transform: scale(1.1);
}
#valores-indicados {
    max-width: 220px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.sugestao {
    display: inline-block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 20px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid black;
    transition: transform 0.2s;
}
.sugestao:hover {
    transform: scale(1.1);
    border: 1px solid rgb(194, 233, 255);
    cursor: pointer;
}
#botoes {
    display: flex;
    justify-content: space-around;
    margin: 89px auto 0;
}
#botao1 {
    font-size: 16px;
    background-color: #607d8b;
    padding: 3px;
    color: white;
    width: 210px;
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.2s;
}
#botao1:hover {
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.1);
}
#botao2 {
    font-size: 16px;
    padding: 3px;
    background-color: #607d8b;
    color: white;
    width: 210px;
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.2s;
}
#botao2:hover {
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.1);
}
#bloco-letras{
    padding-top: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 220px;
}
#dado1{
    margin: 0 auto 10px auto;
}
#quantidade-letras{
    margin-top: 5px;
    width: 190px;
    height: 20px;
    text-align: center;
    display: inline-block;
}
#apagar-letras{
    cursor: pointer;
    position: relative;
    top: 5px;
}
#apagar-letras:hover{
    transform: scale(1.1);
}
#letras-opcoes{
    margin: 12px auto 0 auto;
    border-radius: 40px;
    padding: 20px;
    max-width: 370px;
    background-color: #009688;
    font-weight: bolder;
    border: 1px solid black;
    color: white;
}
#prox-e-volt-letras{
    display: flex;
    justify-content: space-around;
    margin: 13px auto 0 auto;
}
#avancar-letras {
    font-size: 16px;
    background-color: #607d8b;
    padding: 3px;
    color: white;
    width: 210px;
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.2s;
}
#avancar-letras:hover {
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.1);
}
#voltar-letras {
    font-size: 16px;
    background-color: #607d8b;
    padding: 3px;
    color: white;
    width: 210px;
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.2s;
}
#voltar-letras:hover {
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.1);
}
#gerar-personalizada1 {
    font-size: 12px;
    background-color: #607d8b;
    padding: 5.5px;
    color: white;
    width: 210px;
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.2s;
}
#gerar-personalizada1:hover {
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.1);
}
#bloco-numeros{
    padding-top: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 215px;
}
#dado2{
    margin: 0 auto 10px auto;
}
#quantidade-numeros{
    margin-top: 5px;
    width: 190px;
    height: 20px;
    text-align: center;
    display: inline-block;
}
#apagar-numeros{
    cursor: pointer;
    position: relative;
    top: 5px;
}
#apagar-numeros:hover{
    transform: scale(1.1);
}
#numeros-opcoes{
    margin: 12px auto 0 auto;
    border-radius: 40px;
    padding: 20px;
    max-width: 370px;
    background-color: #009688;
    font-weight: bolder;
    border: 1px solid black;
    color: white;
}
#prox-e-volt-num{
    display: flex;
    justify-content: space-around;
    margin: 26px auto 0 auto;
}
#voltar-numeros {
    font-size: 16px;
    background-color: #607d8b;
    padding: 3px;
    color: white;
    width: 210px;
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.2s;
}
#voltar-numeros:hover {
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.1);
}
#avancar-numeros {
    font-size: 16px;
    background-color: #607d8b;
    padding: 3px;
    color: white;
    width: 210px;
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.2s;
}
#avancar-numeros:hover {
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.1);
}
#gerar-personalizada2 {
    font-size: 12px;
    background-color: #607d8b;
    padding: 5.5px;
    color: white;
    width: 210px;
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.2s;
}
#gerar-personalizada2:hover {
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.1);
}
#bloco-especiais{
    padding-top: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 215px;
}
#dado3{
    margin: 0 auto 10px auto;
}
#dado3B{
    display: none;
    margin: 0 auto 10px auto;
}
#quantidade-especiais{
    margin-top: 5px;
    width: 190px;
    height: 20px;
    text-align: center;
    display: inline-block;
}
#apagar-especiais{
    cursor: pointer;
    position: relative;
    top: 5px;
}
#apagar-especiais:hover{
    transform: scale(1.1);
}
#especiais-opcoes{
    margin: 12px auto 0 auto;
    border-radius: 40px;
    padding: 20px;
    max-width: 370px;
    background-color: #009688;
    font-weight: bolder;
    border: 1px solid black;
    color: white;
}
#prox-e-volt-esp{
    display: flex;
    justify-content: space-around;
    margin: 26px auto 0 auto;
}
#voltar-especiais {
    padding: 3px;
    font-size: 16px;
    background-color: #607d8b;
    color: white;
    width: 210px;
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.2s;
}
#voltar-especiais:hover {
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.1);
}
#gerar-personalizada3 {
    padding: 5.5px;
    font-size: 12px;
    background-color: #607d8b;
    color: white;
    width: 210px;
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.2s;
}
#gerar-personalizada3:hover {
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.1);
}
#vejaSuaSenha{
    border-radius: 10px;
    width: 280px;
    padding: 3px 0 3px 0;
    margin: 10px auto 10px auto;
    background-color: white;
}
#senha{
    text-align: center;
    width: 250px;
    display: inline-block;
}
#asteriscos{
        text-align: center;
        width: 250px;
        display:none;
}
#olho-fechado{
    position: relative;
    display: none;
    top: 1.4px;
}
#maisOpcoes {
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    max-width: 130px;
}
#copiar{
    cursor: pointer;
    transition: transform 0.2s;
}
#copiar:hover{
    transform: scale(1.1);
}
#compartilhar{
    cursor: pointer;
    transition: transform 0.2s;
}
#compartilhar:hover{
    transform: scale(1.1);
}
#info{
    cursor: pointer;
    transition: transform 0.2s;
}
#info:hover{
    transform: scale(1.1);
}
#boneco1 {
    position: relative;
    top: 9.5px;
}
#boneco2 {
    display: none;
    position: relative;
    top: 11.7px;
    left: 15px;
}
footer {
    text-align: right;
    margin: auto;
    padding: 5px;
    max-width: 500px;
}
#creditos {
    display: none;
    font-size: 13px;
    width: 270px;
    text-align: center;
    background-color: #8096a1;
    padding: 5px;
    border-radius: 20px;
}
a {
    color: white;
}
a:hover {
    color: rgb(196, 238, 255);
}
#senha-compartilhar{
    display: inline-block;
    margin-bottom: 10px; 
}
#fechar-creditos {
    position: relative;
    left: 30px;
    top: -30px;
}
#contatos{
    display: none;
    margin: auto;
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px;
    width: 300px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: white;
}
#fechar-compartilhamento{
    display: block;
    position: relative;
    top: -4px;
    left: 270px;
    cursor: pointer;
    transition: transform 0.2s;
}
#fechar-compartilhamento:hover{
    transform: scale(1.1);
}
#logos{
    display: flex;
    justify-content: space-around;
}