* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial;
}

header{
    margin: auto;
    background-color: #009688;
    color: white;
    width: 100%;
    max-width: 500px;
    padding: 3px;
    box-sizing: border-box;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    background-color: #009688;
    box-sizing: border-box;
}
/* CAMPO PRINCIPAL */
#campo-principal{
    align-items: center;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}
#campo-quantidade{
    text-align: center;
}
#tamanho-palavra{
    width: 154px;
    text-align: center;
}
#valores-indicados{
    width: 100%;
    max-width: 160px;
    display: flex;
    justify-content: space-between;
}
.sugestao{
    cursor: pointer;
    border: 1px solid black;
    border-radius:50% ;
    padding: 2.5px;
}
.sugestao:hover {
    transform: scale(1.2);
    border: 1px solid #c2e9ff;
    background-color: #002420;
    color: #c2e9ff;
    cursor: pointer;
}
#botoes{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
/* .............. */

/* CAMPO LETRAS */
#bloco-letras{
    align-items: center;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: white;
}
#quantidade-letras{
    width: 154px;
    text-align: center;
}
#letras-opcoes{
    color: white;
    background-color: #009688;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
}
#prox-e-volt-letras{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#voltar-letras{
    padding: 10px;
}

#gerar-personalizada1{
    display: none;
    padding: 10px;
}
/* .............. */

/* CAMPO NUMEROS */

#bloco-numeros{
    display: none;
    align-items: center;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: white;
}
#quantidade-numeros{
    width: 154px;
    text-align: center;
}
#numeros-opcoes{
    color: white;
    background-color: #009688;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
}
#prox-e-volt-num{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#voltar-numeros{
    padding: 10px;
}

#gerar-personalizada2{
    display: none;
    padding: 10px;
}
/* .............. */

/* CAMPO NUMEROS */

#bloco-especiais{
    display: none;
    align-items: center;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: white;
}
#quantidade-especiais{
    width: 154px;
    text-align: center;
}
#especiais-opcoes{
    color: white;
    background-color: #009688;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
}
#prox-e-volt-esp{
    display: flex;
    justify-content: center;

    gap: 20px;
}
#voltar-especiais{
    padding: 10px;
}

#gerar-personalizada3{
    padding: 10px;
}
/* .............. */

/* Exibição de senha */

#vejaSuaSenha{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #009688;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    box-sizing: border-box;
}
.olho{
    background-color: white;
    max-width: 21px;
    border-radius: 0 5px 5px 0;
}

#senha{
    text-align: center;
    background-color: white;
    padding: 5px;
    max-width: 200px;
    width: 100%;
    border-radius: 5px 0 0 5px ;
}
#olho-aberto{

}
#asteriscos{
    display: none;
    background-color: white;
    padding: 5px;
    max-width: 134px;
    width: 100%;
    border-radius: 5px 0 0 5px ;
}
#olho-fechado{
    display: none;
}

#maisOpcoes{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    background-color: #009688;
}

#contatos{
    color: rgb(0, 0, 0);
    padding: 15px;
    margin:auto;
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 300px;
    border-radius: 200px;
    border: 2px solid #c2e9ff;
}
#msg-compartilhar{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
#logos{
    display: flex;
    justify-content: space-around;
}
footer{
    position: relative;
    padding: 3px;
    box-sizing: border-box;
    text-align: right;
    margin: auto;
    background-color: white;
    border: 2px solid #009688;
    max-width: 500px;
    width: 100%;
}
#creditos{
    position: absolute;
    top: -17px;
    left: 85px;
    box-sizing: border-box;
    padding: 3px;
    background-color: white;
    border: 2px solid #009688;
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
}
#boneco{
    display: flex;
    align-items: flex-end;
    padding-left: 17px;
    box-sizing: border-box;
    margin: auto;
    background-color: #009688;
    max-width: 500px;
    height: 200px;
    width: 100%;
}
